.container {
  padding: 0rem 0rem;
  text-align: center;
  background-color: var(--color-bg); /* Pure white */
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .container {
    padding: 0 20px;
    min-height: 20vh;
  }
}
